:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --primary-color: #ff4d4d;  /* Vermelho de alerta */
  --secondary-color: #ffc107; /* Amarelo para contrastar */
  --dark-bg: #1a1a1a; /* Fundo escuro */
  --light-text: rgba(255, 255, 255, 0.9);
  --danger-color: #ff0000; /* Vermelho mais intenso */
  --border-radius: 8px;

  background-color: var(--dark-bg);
  color: var(--light-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-size: 2em;
  color: var(--secondary-color);
}





/* ====== Seções ====== */
section {
  padding: 50px 20px;
  text-align: center;
}



/* ====== Animação para revelar conteúdo ====== */
.extra-content {
  background: rgba(255, 77, 77, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: var(--border-radius);
  border-left: 4px solid var(--danger-color);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

